.projects-section {
  padding: 100px 0;
}

.icon {
  width: 28px;
  height: 28px;
}

.badge {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.75rem;
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--border-color);
}
